<div class="form">
    <h1>Add Data</h1>
    <div class="form-group">
        <input #id class="form-control" id="id" name="id" placeholder="*Enter id" value="0" required />
    </div>
    <div class="form-group">
        <input #title class="form-control" id="title" name="title" placeholder="Enter title*" required />
    </div>
    <div class="form-group">
        <input #body class="form-control" id="body" name="body" placeholder="Enter description*" required />
    </div>
    <div class="form-group">
        <input #author class="form-control" id="author" name="author" placeholder="Enter author name*" required />
    </div>
    <div class="form-group">
        <input #imgUrl class="form-control" id="imgUrl" name="imgUrl" placeholder="Enter image URL"  />
    </div>
    <div class="form-group">
        <input #type class="form-control" id="type" name="type" placeholder="Enter type"  />
    </div>
    <div class="form-group">
        <input #tags class="form-control" id="tags" name="tags" placeholder="Enter tags"  />
    </div>
    <button (click)="onAddNewValue(title.value,body.value,author.value,imgUrl.value,type.value,tags.value)" class="btn btn-success">ADD</button>
    <br>
    <button (click)="onUpdateValue(title.value,body.value,author.value,imgUrl.value,type.value,tags.value)" class="btn btn-success">Update News</button>
    <br>

    <div *ngIf="error" class="alert alert-danger" role="alert">
        <p>{{error}}</p>
    </div>
</div>
