.error {
    color: red;
}

p {
    padding-left: 10px;
    font-size: 16px;
}

.type,
.tags,
.author{
    font-size: 16px;
    text-align: right;
}

.content-image {
    width: 40%;
    float: left;
    margin-right: 10px;
}

.title {
    font-size: 25px;
    text-align: center;
}
:host {
    width: 80%;
    display: block;
    margin: 20px auto;
    border: 2px ridge orange;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #3c9f60;
}

:host.is-last {
    border: 2px solid black;
}







